.PageFooter {
    border: 1px solid #707070;
    background-color: #CD8d8b ;
    display: flex;
    flex-direction: column;
    height: 12em;
    align-items: end;
}
foot{
    margin-left: 5em;
    display: flex;
    flex-direction: column;
}
text{
    display: flex;
    flex-direction: column;
}
i{
    margin-top: 10px;
}
img{
    margin-top: 1em;
}